
<div id="hidden-game-div">
</div>

<!-- Instruction Modal -->
<div class="modal modal-sm" id="instruction-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" id="modal-size">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-instruction"data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">How to Play:</h2>
      </div>
      <div class="modal-body">
        <p>Make as many words as you can.<br>
          You have 2 minutes!<br>
        Words must be at least 3 letters.</p>
        <ul>
        <p>
            3 letters = 2 points<br>
            4 letters = 4 points<br>
            5 letters = 6 points<br>
            6 letters = 8 points<br>
            7+ letters = 10 points<br>
        </p>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-instruction" id="close-instruction" data-dismiss="modal">OK, I'm Ready to play!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Game Over Modal -->
<div class="modal modal-sm" id="game-over-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" id="modal-size">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-game" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">GAME OVER</h2>
      </div>
      <div class="modal-body">
      	<h4>Time's up!</h4>
      	<p class="final-score"></p>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default close-game" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-default new-game" data-dismiss="modal">Play Again!</button>
			</div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<br>
<input type="submit" class="start" value="Let's Play!" title="start" />
<span style="inline" id="buttons">
<input type="submit" class="submit-word" value="Submit Word" title="submit-word" />
<input type="submit" class="undo" value="Undo" title="undo" />
</span>
<br>
<div class="wrapper1">
	<div class="container-fluid">

		<div class="row-fluid" id="text-wrapper">
			<div class="span2" id="timer">
			<p class="timer"></p>
			</div>

			<div class="row-fluid">
				<div class="span2" id="score-wrapper">
				Score:
				<p class="game-score">0 <br></p>
				</div>

				<div class="row-fluid">
					<div class="span2" id="build-wrapper">
					<p >Word Build: </p>
					<p class="word-build"></p>
					</div>

					<div class="row-fluid">
						<div class="span2" id="word-list-wrapper">
						<p>Accepted Words:</p>
						<p class='accepted-words'></p>
						</div>

            <div class="row-fluid">
              <% if session[:current_user_id] %>
              <div class="game-history">
                <p class="word">Game History: </p>
              </div>
              <% end %>
					 </div>
          </div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="wrapper2">
<div class="boggle-board" id="fix"></div>
</div>


