
<div class="position">
<div id="hidden-game-div">
</div>
<br>
<!-- <button class="start">Start Game</button> -->
<input type="submit" class="start" value="Start Game!" title="start" />
<br><br>
<div class="game-instructions">
	<p class="instruction-title">How to play:</p>
	<p class="game-instructions">
		Click Start.
		<br>
		Select a word >= 3 letters.
		<br>
		Submit your word.<br>
		You have 3 MINUTES!

		<ul class="game-instructions"> 3 letters = 2 points
		<br>
		4 letters = 4 points
		<br>
		5 letters = 6 points
		<br>
		6 letters = 8 points
		<br>
		7+ letters = 10 points
		<br>
		</p>
	</div>

<div class="timer">
	<p class="timer"> </p>
</div>

<div class="score">
	Score:
	<p class="score">0</p>
</div>

<div class="word-build">
	<p class="word">Current Word: </p>
<p class="word-build"></p>
</div>

<input type="submit" class="submit-word" value="Submit Word!" title="submit-word" /><br>
<input type="submit" class="undo" value="Undo!" title="undo" />
<!-- <button class="submit-word">Submit Word</button>
<button class="undo">Undo</button> -->
<br><br>
<div class="word-list">
	<p class="word">Accepted Words:</p>
</div>



</div>




<div class="boggle-board">
</div>