/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*----- GOOGLE FONTS -----*/

@import url(http://fonts.googleapis.com/css?family=Orbitron:400,700);
@import url(http://fonts.googleapis.com/css?family=Rammetto+One|Fredoka+One|Sigmar+One|Fontdiner+Swanky|Goblin+One|Slackey);

/*-----------------------*/

body {
	background-color: white;
}

h1.header {
  font-family: 'Slackey';
  color: midnightblue;
  margin-left: 20px;
}

div.boggle-board {
  width: 690px;
  margin-right: auto;
  margin-left: auto;
}

div.word-list {
  float: left;
  color: midnightblue;
  width: 150px;
  height: 200px;
  border: 2px solid midnightblue;
  margin-left: 20px;
  
}

div.row {
  width: 680px;
  height: 100px;
  margin: 0 auto;
  clear: both;
}

div.die {
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 5px;
  background: royalblue;
  border: 3px solid royalblue;
  float: left;
  font-family: 'Orbitron';

  text-align: center;
  line-height: 160px;
  color: midnightblue;
  font-size: 100px;
}

a {
  color: midnightblue;
  font-family: helvetica;
}

div.timer {
  border: 2px solid midnightblue;
  width: 180px;
  height: 28px;
  text-align: center;
  font-family: 'Orbitron', 'Courier New', monospace;
  margin-left: 20px;
  margin-bottom: 10px;
}

p.timer{
  margin: 5px;
  color: midnightblue;
  font-family: 'Orbitron', 'Courier New', monospace;
}

div.score {
  border: 2px solid midnightblue;
  width: 180px;
  height: 28px;
  text-align: center;
  font-weight: bold;
  font-family: 'Orbitron', 'Courier New', monospace;
  margin-left: 20px;
  margin-bottom: 10px;
}

p.score{
  margin: 5px;
  color: midnightblue;
  font-family: 'Orbitron', 'Courier New', monospace;
}


ul#navbar {
  float: right;
  margin-right: 20px;
}

button.start {
  margin-left: 20px;
}

button.submit-word {
  margin-left: 20px;
}


p.word {
  margin-left: 5px;
  margin-top: 2px;
  text-decoration: underline;
  font-weight: bold;
}

p.verified-word {
  margin-left: 5px;
}