/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require sweet-alert
 */

/*-------------- GOOGLE FONTS --------------*/

@import url('//fonts.googleapis.com/css?family=Orbitron:400,700');
@import url('//fonts.googleapis.com/css?family=Oxygen+Mono|Droid+Sans+Mono|Cousine');
@import url('//fonts.googleapis.com/css?family=Rammetto+One|Fredoka+One|Sigmar+One|Fontdiner+Swanky|Goblin+One|Slackey');
@import url('//fonts.googleapis.com/css?family=Dosis|News+Cycle|Waiting+for+the+Sunrise|Reenie+Beanie|Shadows+Into+Light|Architects+Daughter|Indie+Flower|Coming+Soon');
@import url('//fonts.googleapis.com/css?family=Signika+Negative:400,600|Poiret+One|Short+Stack|Walter+Turncoat|Inconsolata|Delius+Unicase:400,700');
/*-----------------------------------------------------------*/

/*------------------------------ NAV BAR ADDITIONAL STYLING ------------------------------- */

#logo {
  color:dodgerblue;
  font-weight: bold;
  font-family: 'Fredoka One';
  font-size: 30px;
}

div.logo-img {
  margin-bottom: 25%;
}

p.refresh {
  font-family: 'Orbitron';
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 20px;
  color: darkred;
  line-height: 5px;
}


a {
  color: darkblue;
  font-family: helvetica;
}

body {
  background-color: ghostwhite;
  font-family: helvetica;
}

h1 {
  color: darkblue;
  margin-left: 10px;
  line-height: 15px;
}

a.nav-links {
  font-family: 'Short Stack';
  margin-top: 13px;
  font-weight: bold;
  font-size: 18px;
  color: midnightblue;
}

/*-----------------------------------------------------------*/

/*HIDDEN DIV*/

div.hidden-game-div {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

div#game-instructions {
  border: 1px solid black;
  height: 225px;
  width: 190px;
}

p#game-instruct{
  margin-left: 10px;
  line-height: 20px;
  margin-top: 3px;
}

ul.game-instructions {
  font-size: 14px;
  line-height: 15px;
}

p.instruction-title {
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 0;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  color: darkblue;
  font-family: 'Orbitron';
}


/*-----------------------------------------------------------*/
/* MODAL STYLE */

/* START GAME MODAL STYLE*/
#instruction-modal {
  display: none; /* ensures it’s invisible until it’s called */
  overflow: scroll;
  position: fixed; /* makes the div go into a position that’s absolute to the browser viewing area */
  left: 20%; /* positions the div half way horizontally */
  top: 20px;
  padding: 25px;
  padding-bottom: 50px;
  z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
  font-family: 'Signika Negative';
  color: midnightblue;

}

.modal-body {
  font-size: 16px;
  margin-left: 8%;
}

.modal-body { 
    max-height: 350px; 
    padding: 15px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
 }

h2.modal-title {
  margin-left: 10%;
  margin-top: 10px;
  font-weight: bold;
}

#instruction-modal {
  width: 50%;
  float: left;
}

button.close-instruction {
  background-color: dodgerblue;
  float: left;
  margin-left: 8%;
  font-weight: bold;
  font-size: 16px;
}

/* GAME OVER MODAL STYLE*/
#game-over-modal {
  display: none; /* ensures it’s invisible until it’s called */
  overflow: scroll;
  position: fixed; /* makes the div go into a position that’s absolute to the browser viewing area */
  left: 20%; /* positions the div half way horizontally */
  top: 20px;
  padding: 25px;
  padding-bottom: 50px;
  z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
  font-family: 'Signika Negative';
  color: midnightblue;
}

#game-over-modal {
  width: 50%;
  float: left;
}

button.new-game {
  background-color: dodgerblue;
  float: left;
  margin-left: 8%;
  font-weight: bold;
  font-size: 16px;
}

/*-----------------------------------------------------------*/
/*FORMS*/

div.form {
    margin-left: 10px;
}

/*shows what fields have errors in a form, if the form page doesn't save and is rerendered*/

.field_with_errors input {
    border: 2px solid red;
}

.username {
    margin-top: 10px;
    margin-bottom: 5px;
}

.password {
    margin-top: 5px;
    margin-bottom: 5px;
}

.password-confirm {
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-position {
  margin-left: 10px;
}

/*-----------------------------------------------------------*/
/*TIMER STYLE*/

div#timer {
  max-width: 190px;
  max-height: 28px;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 8px;
  font-family:'Droid Sans Mono';
  font-weight: bold;
  font-size: 16px;
}

div#timer-border {
  border: 2px;
}

p.timer{
  margin: 5px;
  color: darkblue;
  padding-top: 6px;
}


/*-----------------------------------------------------------*/
/*BUTTON STYLING*/

input.start {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 195px;
  height: 40px;
  background-color: silver;
  border-radius: 10px;
  font-weight: bold;
  color: darkblue;
  margin-left: 40px;
  font-family: 'Short Stack';
  font-weight: bold;
  font-size: 18px;
}

input.start:hover{
  background-color: gold;
}

input.submit-word {
  margin-left: 20px;
  width: 129px;
  height: 30px;
  background-color: silver;
  border-radius: 10px;
  font-weight: bold;
  color: darkblue;
  font-family: 'Short Stack';
  font-weight: bold;
  display: none;
}
input.submit-word:hover{
  background-color: gold;
}

input.undo {
  margin-left: 5px;
  width: 75px;
  height: 30px;
  background-color: silver;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 7px;
  color: darkblue;
  font-family: 'Short Stack';
  font-weight: bold;
  display: none;
}

input.undo:hover{
  background-color: gold;
}

input.new-game:hover{
  background-color: gold;
}

#buttons {
  margin-left: 15px;
}

/*-----------------------------------------------------------*/
/*WORD BUILD STYLE*/


#build-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  height: 45px;
  border: 2px solid midnightblue;
  border-radius: 5px;
  color: midnightblue;
  font-family: 'Signika Negative';
  font-size: 15px;
  font-weight: bold;
}

p.word-build{
  margin: 5px;
  line-height: 6px;
  font-size: 18px;
}


/*-----------------------------------------------------------*/
/* SCORE BOARD STYLING */


#score-wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  height: 40px;
  border: 2px solid midnightblue;
  border-radius: 5px;
  color: midnightblue;
  font-family: 'Signika Negative';
  font-size: 15px;
  font-weight: bold;
}

p.game-score{
  line-height: 15px;
}

/*-----------------------------------------------------------*/
/*ACCEPTED WORD LIST STYLE */

#word-list-wrapper {
  width: 193px;
  height: 200px;
  margin-top: 5px;
  margin-bottom: 10px;
  overflow: auto;
  text-align: center;
  border: 2px solid midnightblue;
  border-radius: 5px;
  color: midnightblue;
  font-family: 'Signika Negative';
  font-size: 15px;
  font-weight: bold;
}

p.word {
  margin-left: 5px;
  margin-top: 2px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  font-family: 'Orbitron';
}

p.accepted-word {
  margin-left: 5px;
  line-height: 3px;
}

/*-----------------------------------------------------------*/
/*GAME HISTORY STYLING*/

div.game-history {
  float: right;
  color: darkblue;
  width: 150px;
  height: 200px;
  border: 1px solid darkblue;
  margin-left: 20px;
  padding-left: 5px;
  margin-right: 100px;
  margin-top: 50px;
  overflow: auto;
}

p.past-scores {
  margin-left: 5px;
  line-height: 5px;
}

p.game-history {
  margin-left: 5px;
  margin-top: 2px;
  text-decoration: underline;
  font-weight: bold;
}


/*-----------------------------------------------------------*/
/*BOGGLE BOARD STYLING*/

/*div.boggle-board {
  width: 300px;
  margin-left: 100px;
  margin-top: 70px;
  margin-bottom: 150px;
  float: left;
}*/

/*fixes board position temporarily*/
#fix{
 margin-left: auto;
 margin-right: auto;
 float: left;
}

.wrapper1 {
  float: left;
  margin-left: 25px;
}

.wrapper2 {
  margin-left: 36%;
}

#text-wrapper {
  margin-top: 15px;
}


div.row-die {
  width: 490px;
  height: 50px;
  margin: 0 auto;
  clear: both;
}

div.not-playable {
  width: 120px;
  height: 120px;
  margin: 1px;
  border-radius: 5px;
  background: gold;
  border: 4px solid darkblue;
  float: left;
  font-family: monospace;

  text-align: center;
  line-height: 115px;
  color: darkblue;
  font-size: 90px;
  font-weight: bold;
}


div.playable {
  width: 120px;
  height: 120px;
  margin: 1px;
  border-radius: 5px;
  background: dodgerblue;
  border: 4px solid darkblue;
  float: left;
  font-family: monospace;

  text-align: center;
  line-height: 115px;
  color: darkblue;
  font-size: 90px;
  font-weight: bold;
}

div.playable:hover {
  background-color: gold;
  cursor: pointer;
} 
