/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require jquery-ui
 */

/*
 *= require sweet-alert
 */


/*-------------- GOOGLE FONTS --------------*/

@import url('//fonts.googleapis.com/css?family=Orbitron:400,700');
@import url('//fonts.googleapis.com/css?family=Rammetto+One|Fredoka+One|Sigmar+One|Fontdiner+Swanky|Goblin+One|Slackey');

/*-----------------------------------------------------------*/


p.refresh {
  font-family: 'Orbitron';
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 20px;
  color: darkred;
  line-height: 5px;
}


/*NAVBAR & GENERAL STYLING*/


a {
  color: midnightblue;
  font-family: helvetica;
}

body {
  background-color: ghostwhite;
  font-family: helvetica;
}

h1.header {
  font-family: 'Slackey';
  color: midnightblue;
  margin-left: 20px;
  line-height: 15px;
}

h1 {
  color: midnightblue;
  margin-left: 10px;
  line-height: 15px;
}

hr {
  width: 50%;
  margin-left: 2px;
}

a#navbar {
  margin-left: 25px;
/*  float: right;
  margin-right: 50px;*/
}
/*
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}*/


/*-----------------------------------------------------------*/



/*HIDDEN DIV*/

div.hidden-game-div {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

div.game-instructions {
  border: 1px solid midnightblue;
  height: 213px;
  width: 190px;
  margin-left: 20px;
  padding-top: 3px;
  color: midnightblue;
}

p.game-instructions {
  margin-left: 10px;
  line-height: 20px;
  font-size: 14px;
}

ul.game-instructions {
  font-size: 14px;
  line-height: 15px;
}

p.instruction-title {
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 0;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  color: midnightblue;
  font-family: 'Courier New';
}


/*-----------------------------------------------------------*/
/*FORMS*/

div.form {
    margin-left: 10px;
}

/*shows what fields have errors in a form, if the form page doesn't save and is rerendered*/

.field_with_errors input {
    border: 2px solid red;
}

.username {
    margin-top: 10px;
    margin-bottom: 5px;
}

.password {
    margin-top: 5px;
    margin-bottom: 5px;
}

.password-confirm {
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-position {
  margin-left: 10px;
}

/*-----------------------------------------------------------*/
/*TIMER STYLE*/

div.timer {
  width: 190px;
  height: 28px;
  text-align: center;
  font-family: 'Orbitron', 'Courier New', monospace;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 8px;
}

div#timer-border {
  border: 2px;
}

p.timer{
  margin: 5px;
  color: midnightblue;
  font-family: 'Orbitron', 'Courier New', monospace;
  font-weight: bold;
  font-size: 18px;
  padding-top: 6px;
}


/*-----------------------------------------------------------*/
/*SCORE BOARD STYLE*/

div.score {
  border: 1px solid midnightblue;
  width: 190px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New';
  margin-left: 20px;
  margin-bottom: 10px;
  color: midnightblue;
  padding-bottom: 8px;
}

p.score{
  margin: 5px;
  color: midnightblue;
  font-family: 'Courier New';
  font-weight: bold;
  line-height: 15px;
}



/*-----------------------------------------------------------*/
/*BUTTON STYLING*/

input.start {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 192px;
  height: 40px;
  background-color: gold;
  border-radius: 10px;
  font-weight: bold;
  color: midnightblue;
}

input.submit-word {
  margin-left: 20px;
  width: 93px;
  height: 30px;
  background-color: gold;
  border-radius: 10px;
  font-weight: bold;
  color: midnightblue;
}

input.undo {
  margin-left: 5px;
  width: 93px;
  height: 30px;
  background-color: gold;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 7px;
  color: midnightblue;
}

input.refresh {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0;
  width: 180px;
  height: 40px;
  background-color: gold;
  border-radius: 10px;
  font-weight: bold;
  color: midnightblue;
}


/*-----------------------------------------------------------*/
/*WORD BUILD STYLE*/

div.word-build {
  font-family: 'Courier New';
  border: 1px solid midnightblue;
  width: 190px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 10px;
}

p.word-build{
  margin: 5px;
  color: midnightblue;
  line-height: 6px;
  font-size: 16px;
}



/*-----------------------------------------------------------*/
/*ACCEPTED WORD LIST STYLE */

div.word-list {
  font-family: 'Courier New';
  color: midnightblue;
  width: 190px;
  height: 165px;
  border: 1px solid midnightblue;
  margin-left: 20px;
  float: left;
  padding-top: 2px;
  overflow: auto;
}

p.word {
  margin-left: 5px;
  margin-top: 2px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  color: midnightblue;
}

p.verified-word {
  margin-left: 5px;
  line-height: 3px;
}


/*-----------------------------------------------------------*/
/*GAME HISTORY STYLING*/

div.game-history {
  float: right;
  color: midnightblue;
  width: 150px;
  height: 200px;
  border: 1px solid midnightblue;
  margin-left: 20px;
  padding-left: 5px;
  margin-right: 100px;
  margin-top: 50px;
  overflow: auto;
}

p.past-scores {
  margin-left: 5px;
  line-height: 5px;
}

p.game-history {
  margin-left: 5px;
  margin-top: 2px;
  text-decoration: underline;
  font-weight: bold;
}



/*-----------------------------------------------------------*/
/*BOGGLE BOARD STYLING*/

div.boggle-board {
  width: 300px;
  margin-right: auto;
  margin-left: 120px;
  margin-top: 65px;
  margin-bottom: 150px;
  /*display: inline;*/
  float: left;
}


/*POSITIONS ALL DIVS ON THE LEFT OF BOARD*/


div.position {
  float: left;
  width: 230px;
}

div.row {
  width: 550px;
  height: 50px;
  margin: 0 auto;
  clear: both;
}

div.not-playable {
  width: 120px;
  height: 120px;
  margin: 5px;
  border-radius: 5px;
  background: gold;
  border: 3px solid royalblue;
  float: left;
  font-family: monospace;

  text-align: center;
  line-height: 115px;
  color: midnightblue;
  font-size: 70px;
  font-weight: bold;
}


div.playable {
  width: 120px;
  height: 120px;
  margin: 5px;
  border-radius: 5px;
  background: royalblue;
  border: 3px solid royalblue;
  float: left;
  font-family: monospace;

  text-align: center;
  line-height: 115px;
  color: midnightblue;
  font-size: 70px;
  font-weight: bold;
} 
